{% extends 'demand/main.html' %}
{% block content %}
<div class="main_1">
	<ul class="button_spisok">
	<li><input class="graphs_button" type="button" value="Общее количество вакансий" onclick="getView('div1')"></li>
	<li><input class="graphs_button" type="button" value="Общей уровень зарплат" onclick="getView('div2')"></li>
	<li><input class="graphs_button" type="button" value="Количество вакансий GameDev" onclick="getView('div3')"></li>
	<li><input class="graphs_button" type="button" value="Уровень зарплат GameDev" onclick="getView('div4')"></li>
	</ul>
    {% for year, number, count, type in name %}
	<div id={{ "div"|add:count }}>
		<table border="1" class="table">
   		<caption>Количество вакансий</caption>
   		<tr>
    		<th class="first_column">{{ year }}</th>
    		<th class="second_column">{{ number }}</th>
   		</tr>
            {% for item in demand %}
                {% if item.type == type %}
   		<tr><td>{{ item.year }}</td><td>{{ item.salary_amount }}</td></tr>
                {% endif %}
            {% endfor %}
  		</table>
  		<img src={{ "/static/demand/images/Graph"|add:count|add:".png" }} class="graph_img" width="800" height="800">
  	</div>
    {% endfor %}
</div>
<div class="empty"></div>
{% endblock %}