{% extends 'demand/main.html' %}
{% block content %}
<div class="main_1">
    {% for city, amount, number, type in name %}
	<div id="div11">
		<table border="1" class="table">
   		<caption>Уровень зарплат по миру</caption>
   		<tr>
    		<th class="first_column">{{ city }}</th>
    		<th class="second_column">{{ amount }}</th>
   		</tr>
            {% for item in geography %}
                {% if item.type == type %}
   		<tr><td>{{ item.city }}</td><td>{{ item.salary_amount }}</td></tr>
                {% endif %}
                {% endfor %}
  		</table>
  		<img src={{ "/static/demand/images/Graph"|add:number|add:".png" }} class="graph_img" width="800" height="800">
  	</div>
    {% endfor %}
</div>
{% endblock %}