{% extends 'demand/main.html' %}
{% block content %}
<div class="head">
	<div class="center_logo">
		<div>
			<p class="center_logo_text _anim-items">Разработчик игр</p>
		</div>
	</div>
</div>
<div class="main">
{% for item in index %}
    {% if item.back == "b" %}
	<p>{{ item.text }}</p>
	<p>-------</p>
    {% endif %}
    {% endfor %}
</div>
<div class="block">
	<div class="spisok">
        {% for item in index %}
            {% if item.back == "w" %}
		<a href={{ "#"|add:item.hrefer }} class="aa"><div class="first1 _anim-items" id="doughter">{{ item.title }}<img src={{ item.icon_image.url }} class="spisok_icon"></div></a>
		    {% endif %}
        {% endfor %}
	</div>
</div>
{% for item in index %}
    {% if item.back == "w" %}
        <div class="gamediz" id="prof">
		<h1 class="profh1" id={{ item.hrefer }}>{{ item.title }}</h1>
		<p class="text_index">
            {% if item.image %}
		        <img src="{{ item.image.url }}" class="photo _anim-items">
            {% endif %}
            {{ item.text }}</p>
        {% if item.list %}
            {% if item.li_num == 1 %}
            <ul class="gamediz list_item _anim-items">Можно выделить четыре категории геймдизайнеров:
			    <li class="gamediz">Геймдизайнеры-математики. Те кто занимаются балансом в проекте: подсчётом характеристик юнитов, оружия, сводят таблицы; они же могут заниматься вещами, связанными с монетизацией, расчётом игровой экономики.</li>
			    <li class="gamediz">Геймдизайнеры-нарративщики. Люди которые пишут сюжеты, диалоги.</li>
			    <li class="gamediz">Левел-дизайнеры. Отдельный подвид геймдизайнеров. Люди, которые придумывают и собирают уровни в играх.</li>
			    <li class="gamediz">Геймдизайнеры-аналитики. Люди, которые занимаются разбором продуктов конкурентов, а также занимаются внутриигровыми метриками (например, если у нас free-to-play проект с внутриигровыми платежами, то обязательно есть геймдизайнеры, которые следят за тем, как изменения каких-то параметров игры сказываются на её доходах).</li>
		    </ul>
                {% endif %}
            {% if item.li_num == 2 %}
                <ul class="list_item _anim-items">
			        <li>Продвигает игру. Совершенно не обязательно, чтобы она была уже готова.</li>
			        <li>В маленькой команде очень полезно найти универсала, совместив с PR.</li>
			        <li>Простой маркетолог будет покупать трафик, строить воронку и пригонять в игру пользователей.</li>
			        <li>Продвинутый маркетолог ориентируется в рынке, может подсказать решения по монетизации и улучшить конверсию в игре.</li>
			        <li>Совместно с PR – организует коммуникации проекта с прессой и имидж игры/команды в СМИ.</li>
		        </ul>
                {% endif %}
        {% endif %}
        <div class="index_empty"></div>
	</div>
    {% endif %}
{% endfor %}
{% endblock %}