{% extends 'demand/main.html' %}
{% block content %}
<div class="main_1">
	<ul class="button_spisok_2">
	<li><input class="graphs_button" type="button" value="2015" onclick="getView('div111')"></li>
	<li><input class="graphs_button" type="button" value="2016" onclick="getView('div222')"></li>
	<li><input class="graphs_button" type="button" value="2017" onclick="getView('div333')"></li>
	<li><input class="graphs_button" type="button" value="2018" onclick="getView('div444')"></li>
	<li><input class="graphs_button" type="button" value="2019" onclick="getView('div555')"></li>
	<li><input class="graphs_button" type="button" value="2020" onclick="getView('div666')"></li>
	<li><input class="graphs_button" type="button" value="2021" onclick="getView('div777')"></li>
	<li><input class="graphs_button" type="button" value="2022" onclick="getView('div888')"></li>
	</ul>
    {% for date, id in year %}
	<div id={{id}}>
		<table border="1" class="table">
   		<caption>Наиболее требуемые навыки</caption>
   		<tr>
    		<th class="first_column">Навык</th>
    		<th class="second_column">Кол-во</th>
   		</tr>
            {% for item in skill %}
                {% if item.year == date %}
                <tr><td>{{item.name}}</td><td>{{ item.amount }}</td></tr>
                {% endif %}
            {% endfor %}
  		</table>
  		<img src={{ "/static/demand/images/Graph_skill_"|add:date|add:".png" }} class="graph_img_1" width="800" height="800">
  	</div>
    {% endfor %}
</div>
<div class="empty_2"></div>
{% endblock %}